.main-mid {
  background-image: url("../resimler/peru.jpg");
  height: 600px;
}

.gezi-paragraflari-div p {
  text-align: justify;
  font-size: 14pt;
  margin-bottom: 20px;
}

.resim-tarifi {
  padding: 20px;
  text-align: right;
  font-size: 18pt;
}

.yazi-kapsayici {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.yazi-sutunu {
  width: 45%;
}

@media screen and (max-width: 900px) {
  .yazi-sutunu {
    width: 100%;
  }
}